@import "tailwindcss";

@theme {
  --animate-shimmer: shimmer 2s infinite;

  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }
}

@layer base {
  body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
  }

  input, textarea {
    user-select: text;
    -webkit-user-select: text;
  }

  .recharts-wrapper, .recharts-surface, .recharts-sector, .recharts-curve, svg {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
    -webkit-tap-highlight-color: transparent;
  }
  
  *:focus, *:active, *:focus-visible {
    outline: none !important;
    box-shadow: none !important;
  }
}
